.homesection{
    background-color: #E5E5E5;
    position: relative;
    margin: 130px 0 0 120px;
    font-style: normal;
    overflow-x: auto;  
}
.section-wrap{
   margin: 64px 72px;
   width: 1230px;
}
.top-sectionwrap{
    width: 1147px;
}
.top-sectionwrap>h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 42.26px;
    color: #000000e6;
}
.card{
    display: flex;
    align-items: center;
    height: 335px;
    margin: 40px 0;
}
.card-left{
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: #ffffff;
    border: 1px solid #00a8ff66;
    border-radius: 5px;
    height: 100%;
    margin-right: 20px;
    position: relative;
    box-shadow: 0px 0px 0px 0.2px #00a8ff66 inset;
}
.card-left>span>a{
    color: #0096ff;
}
.card-left>span{
    position: absolute;
    right: 0;
    top:-34px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #0096FF;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-info{
    flex: 0.65;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-topcontainer{
    display: flex;
    align-items: center;
}
.card-desc{
    margin-left: 20px;
}
.card-title>h3{
    margin:0;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000e6;
}
.titleImg>img{
    width: 80px;
    height: 80px;
}
.card-bottomcontainer{
    display:flex;
    align-items: center;
}
.card-options{
    display: flex;
    align-items: center; 
    padding-top: 8px;
}
.card-options>span{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.MuiAvatar-root{
    width: 26px !important;
    height:26px !important;
    font-size: 12px !important;
}
.cardoptions-title{
    text-align: right;
}
.cardoptions-title>p{
    margin: 18px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #000000e6;
}
.card-options>span{
    padding-left: 15px;
    color: #0096FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.card-progress{
    margin-left: 26px
}
.card-progressbar{
    margin: 12px 0;
}
.card-progressbar>p{
    font-size: 10px;
    color: #3EBFF5;
    margin: 6px 0;
    font-family: "Roboto", "sans-serif";
    font-weight: bold;
}
.card-plan{
    border-left: 1px solid #00a8ff66;
    padding: 40px;
    flex: 0.35;
}
.card-plan h3{
    margin:0;
    color: #000000bf;
}
.card-plan p, .card-plan span{
    font-family: "Roboto", sans-serif;
}
.card-details>p{
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #000000bf;
}
.card-details>span{
    font-size: 10px;
    line-height: 12px;
    color: #000000bf;
}
.card-plan>.title{
    margin: 16px 0;
    font-size: 18px;
    color: #0096FF;
    font-family: "Roboto", sans-serif;
    line-height: 21px;
}
.card-plan>.caption{
    font-size: 14px;
    color: #C4C4C4;
    line-height: 16px;
}
.card-plan>.plan-details{
    color: #3EBFF5;
    padding-left: 20px;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
}
.card-button{
    margin-top: 90px;
}
.card-button>button{
    background-image: linear-gradient(to right, #0096FF, #0048FF);
    color: #ffffff;
    padding: 8px 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.2px;
    font-family: "Raleway", sans-serif;
}
.card-button>p{
    margin: 10px;
    color: #00000080;
    font-size: 10px;
    padding-left: 18px;
    line-height: 15px;
}
.card-right{
    width: 337px;
    background-color: #ffffff;
    border: 1px solid #00a8ff66;
    height: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0.2px #00a8ff66 inset;
    padding: 30px 40px;
    
}
.card-right>h2{
    font-size: 20px;
    line-height: 23px;
    color: #000000e6;
    text-align: left;
    margin: 0 0 5px 0;
}
.card-right>h3{
    font-size: 14px;
    font-weight: 900;
    color: #0096FF;
    line-height: 16px;
    padding-top: 10px;
}
.tiny-card{
    border: 1px solid #00a8ff66;
    margin: 20px 0;
    border-radius: 6px;
    width: 100%;
}
.tinycard-desc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tinycard-desc>h2{
    font-family: "Roboto", sans-serif;
    color: #000000e6;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
}
.tinycard-desc>h2>span{
    font-family: "Roboto", sans-serif;
    color: #000000e6;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    padding-left: 4px;
}
.tinycard-desc>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.2px;
    color: #000000e6;
}
.card-right-progress>.MuiLinearProgress-root{
    margin-right: auto;
    margin-left: auto;
}
.card-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-row>.cards:first-child{
    margin-left: 0;
}
.card-row>.cards:last-child .bottom-wrapper{
    margin-top: 8px;
}
.bottom-section-wrap{
    width: 1147px;
    padding-top: 30px;
}
.bottom-section-wrap>h1{
    margin-bottom: 33px;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.backward-arrow, .forward-arrow{
    background: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 4px solid #0096FF;
    position: relative;
    margin: 0 20px 50px 0;
}
.backward-arrow .MuiSvgIcon-root{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0096FF;
}
.forward-arrow .MuiSvgIcon-root{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0096FF;
    font-weight: 500;
}
.cards{
    background-color: #ffffff;
    border: 1px solid #00a8ff66;
    border-radius: 6px;
    padding: 20px 8px;
    box-sizing: border-box;
    margin-left: 15px;
    flex: 0.25;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.6
}
.bottom-wrapper{
    display: flex;
    align-items: center;
    flex: 0.4;
    margin-top: 20px;
}
.wrapperImg>img{
    width: 60px;
    height: 60px;
}
.card-numbers{
    display: flex;
    align-items: center;
}
.card-title{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    color: #000000e6;
}
.number-block{
    text-align: center;
    padding: 10px;
}
.number-block>p{
    margin: 0;
    font-size: 13px;
    line-height: 15px;
    color: #000000cc;
}
.numbers{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 36px;
    color: #000000b3;
}
