.instructorrow{
    display: flex;
    align-items: flex-start;
}
.instructorrow>img{
    margin: 14px 0 0 30px;
}
.instructor-options{
    margin-left: 20px;
}
.instructor-options p{
    font-size: 12px;
    font-family: Roboto, sans-serif;
    margin: 8px 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.instructorrow:nth-child(2){
    background-color: #15294b1a;
}