.header{
    height: 60px;
    color: #15294B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 90px;
    height: 100%;
}
.options{
    display: flex;
    align-items: center;
}
.options>span{
    font-family: "Raleway";
    font-size: 16px;
    line-height: 19px;
    font-style: regular;
}
.logo>img{
    width: 110px;
    height: 40px;
}
.options>.MuiSvgIcon-root, .options>span{
    padding: 0 20px 0 80px;
}
