.instructorsection{
    display: flex;
    width: 100%;
    position: relative;
    margin: 130px 0 0 120px;
}
.sidebar-instructor{
    color: #15294B;
    flex:0.2;
    background-color: #E0E6F2;
}
.sidebar-instructor>h2{
    margin: 40px 20px 25px 35px;
    font-size: 25px;
    line-height: 30px;
    color: #15294B;
    font-weight: 700;
    font-style: normal;
}
.contents-instructor{
    flex: 0.8;
    background-color: #E5E5E5;
}
.contents-instructor h1{
    font-family: 'Roboto', sans-serif;
    color: #000000bf;
}
.contents-instructor p{
    font-family: 'Roboto', sans-serif;
    color: #000000bf;
}
.inner-block{
    margin: 30px 50px;
    background-color: #ffffff;
    border: 1px solid #00a8ff66;
    border-radius: 4px;
}
.title-row{
    margin: 40px 0;
    background-color: #c4c4c433;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
.title-row>img{
    height: 200px;
}
.title-row>p{
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}
.imgContainer{
    margin-left: 30px;
}
.imgContainer>img{
    width: 110px;
    height: 110px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.links>img{
    padding-right: 6px;
}
.content-row{
    padding: 10px 30px;
    border-bottom: 1px solid #CCCCCC;  
}
.content-row h3, .content-row h1, .content-row p{
    font-family: "Roboto", sans-serif;
    font-style: normal; 
}
.row-title>h3{
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #000000cc;
    font-weight: 500;
}
.row-info{
    display: flex;
    align-items: center;
}
.row-block{
    margin-right: 30px;
}
.row-block>h1{
    margin: 23px 0 4px 0;
    letter-spacing: 2px;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    color: #000000bf;
}
.row-block>p{
    margin: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 35px;
    font-weight: 400;
}
.row1{
    margin: 10px 40px;
}
.row2{
    margin: 60px 40px;
}
.row2-title>h3{
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #000000cc;
    font-weight: 500;
}
.row-desc{
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.row-tech{
    margin-right: 60px;
}
.row-tech>p{
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 35px;
    color: #00000099;
    font-weight: 400;
    margin: 10px 0;
}
.about{
    padding: 30px;
    margin: 30px 0;
}
.about h3, .about p{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.about h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #000000cc;
}
.about>.row2{
    margin: 40px;
}
.about p{
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 16px;
    color: #00000099;
    font-weight: 400;
}
.instructorrow{
    padding: 14px 0;
}
.instructor-block{
    display: flex;
    align-items: center;
}
.instructor-block>img{
    margin: 0 15px 0 35px;
}
.instructor-options{
    margin-left: 85px;
}
.instructor-block>h3{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
}
.instructor-options p{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    margin: 8px 0;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 12px;
    color: #15294B;
}
.instructorrow:nth-child(2){
    background-color: #15294b1a;
}
.instructorrow:nth-child(2) .instructor-options p{
    font-weight: 400;
}